.file-tree {
  &__node {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.125rem 0;
  }

  &__children {
    margin-left: 4.375rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &--hidden {
      display: none;
    }
  }

  &__file {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    min-height: 2.25rem;
  }

  &__empty-folder {
    padding: 0.125rem 0;

    button {
      visibility: hidden;
    }
  }
}
