.file-tree {
  &__node {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 0;
  }

  &__children {
    margin-left: 70px;
    display: flex;
    flex-direction: column;

    &--hidden {
      display: none;
    }
  }

  &__file {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__empty-folder {
    padding: 2px 0;

    button {
      visibility: hidden;
    }
  }
}
