.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  padding: 0 1rem;
  color: var(--app-text-primary);
  background-color: var(--app-background-primary);

  &__title {
    font-size: 1rem;
    font-weight: 500;
  }
}
