.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 16px;
  color: var(--app-text-primary);
  background-color: var(--app-background-primary);

  &__title {
    font-size: 16px;
    font-weight: 500;
  }
}
