/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.core();

// Simple light theme
$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-pink-palette);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);

// Expose CSS variables for runtime usage
:root {
  --app-background-primary: var(
    --mat-toolbar-container-background-color,
    #3f51b5
  );
  --app-text-primary: var(--mat-toolbar-container-text-color, #fff);
}
